.Home {
    position: relative;
    min-height: calc(100vh - 250px);
    overflow-x: hidden;
    display: block;
    top: 72px;
    padding: 0 calc(3.5vw + 5px);
    
}
.Home::after{
    background-image: url('../images/home-background.png') ;
    position: absolute;
    content: "";
    inset: 0px;
    opacity: 1;
    z-index: -1;
}